<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>WiFi Transfer</name>
        <version>1.1.0</version>
        <author>mzlogin</author>
        <id>mzlogin-wifi-transfer</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
